* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
// message 消息框
body :global(.ant-message-notice-content) {
  margin-top: 30px;
}
.pages_container {
  position: relative;
  height: 100vh;
  overflow: auto;
  background: url(./assets/login_bg.png) no-repeat;
  background-size: cover;

  .login_container {
    width: 960px;
    height: 580px;
    background: #dffdfd99;
    border-radius: 16px;
    box-shadow: 0px 2px 16px 0px rgba(235, 239, 243, 0.23);
    display: flex;
    position: relative;
    top: calc(50% - 300px);
    left: calc(50% - 480px);

    .login_left {
      width: 50%;

      .left_title {
        width: 340px;
        height: 380px;

        .login_img {
          width: 480px;
          height: 580px;
          border-radius: 16px;
          opacity: 0.6;
        }
      }
    }
    .login_right {
      width: 50%;
      box-sizing: border-box;
      height: 100%;
      padding: 80px 40px 80px 33px;
      border-top-right-radius: 16px;
      border-bottom-right-radius: 16px;
      .right_title {
        font-size: 30px;
        letter-spacing: 6px;
        font-family: "微软雅黑";
        text-align: center;
        margin-top: 20px;
      }
      .right_form {
        margin-top: 80px;
        .form_btn {
          margin-top: 100px;
          text-align: center;
          .form_btn2 {
            width: 360px;
          }
        }
      }
    }
  }
}
