@mixin circle($width, $bgColor) {
  width: $width;
  height: $width;
  background-color: $bgColor;
  border-radius: 50%;
}

.header_container {
  background-color: #e1b9bf66;
  text-align: center;
  padding: 0 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  user-select: none;

  $height: 44px;

  .logo_container {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 140px;
      height: 70px;
      border-radius: 16px;
      margin-right: 25px;
      margin-left: -65px;
    }
    .logo_item {
      font-size: 20px;
      font-style: italic;
      color: #ff9b9b;
    }
  }
  .info_container {
    display: flex;
    column-gap: 24px;

    .message {
      @include circle($height, #f2f4f7);
      background-image: url("./assets/message.png");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 40px;
      cursor: pointer;
    }

    .profile {
      display: flex;
      align-items: center;
      column-gap: 8px;
      .avatar {
        cursor: pointer;
        border: 2px solid #dddddd50;
        box-shadow: 0 0 10px 0 #dddddd50;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      .name {
        font-size: 14px;
      }
    }
  }
}
